@model IEnumerable<CodeChallenge.ViewModel.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string carModel = "";
            bool guessed = false;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doors)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.GuessedPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {  id=item.Id}) |
                        @Html.ActionLink("Guess Price", "GuessPrice", new { id=item.Id, item.GuessedPrice})
                    </td>
                </tr>

                if (item.Guessed)
                {
                    carModel = item.Model;
                    guessed = true;
                }
            }

            if (guessed)
            {
                <tr>
                    <td colspan=7 align="center">
                        <div style="background-color:lightgreen"><b>Great Job Guessingthe price of the car @carModel</b></div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
